@font-face { font-family: 'Museo Sans Light'; src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot"); src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Museo Sans Bold'; src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot"); src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype"); font-weight: normal; font-style: normal; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; }

body { font-family: 'Museo Sans Light', sans-serif; font-weight: 300; }

img { max-width: 100%; }

.container { width: 1170px; margin: 0 auto; }

.button { background-color: #ffd200; font-size: 13px; border-radius: 10px; border: none; padding: 18px 30px; cursor: pointer; -webkit-transition: 0.2s; transition: 0.2s; }

.button:hover { background-color: #ffdb33; }

.section { padding: 90px 0; }

.section-title { max-width: 500px; font-size: 24px; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; text-align: center; }

.section-subtitle { font-size: 16px; display: block; }

.input { border: 1px solid #dddddd; border-radius: 10px; padding: 20px 26px; font-size: 15px; }

.input:focus { border: 1px solid #ffd200; }

@media (max-width: 1200px) { .container { width: 760px; } }

@media (max-width: 768px) { .container { max-width: 580px; width: 90%; } }

@media (max-width: 567px) { .container { max-width: 400px; width: 90%; }
  .section { padding: 50px 0; } }

.navbar { padding: 8px 0; }

.navbar-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.navbar__info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: right; }

.navbar__address { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 13px; }

.navbar__phone { color: #333333; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; font-size: 20px; text-decoration: none; display: inline-block; margin-top: 7px; }

.navbar__button { font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; margin-left: 30px; }

@media (max-width: 768px) { .navbar__contacts { display: none; }
  .navbar__button { font-size: 12px; padding: 15px 26px; }
  .navbar__logo { width: 90px; } }

.hero { padding: 50px 0; background-color: #f5f5f5; }

.hero-block { display: -webkit-box; display: -ms-flexbox; display: flex; }

.hero-text { -ms-flex-preferred-size: 50%; flex-basis: 50%; padding-right: 100px; }

.hero-text__title { font-size: 41px; line-height: 55px; color: #333333; margin-bottom: 36px; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; }

.hero-text__subtitle { font-size: 20px; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; }

.hero-list { margin: 0; padding: 0; margin-top: 68px; }

.hero-list__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 24px; }

.hero-list__item:last-child { margin-bottom: 0; }

.hero-list__img { width: 40px; height: 40px; border: 2px solid #ffd200; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-right: 30px; }

.hero-list__text { font-size: 14px; line-height: 24px; max-width: 50%; }

.hero-img { padding-left: 35px; }

@media (max-width: 1200px) { .hero-img { padding-left: 0px; }
  .hero-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .hero-list { margin-bottom: 44px; }
  .hero-text { padding-right: 10px; } }

@media (max-width: 768px) { .hero-text__title { font-size: 24px; line-height: 1.4; margin-bottom: 15px; }
  .hero-text__subtitle { font-size: 16px; }
  .hero-list__item { margin-bottom: 20px; }
  .hero-list__text { font-size: 12px; } }

@media (max-width: 567px) { .hero-list__text { max-width: 200px; } }

.offer { background: url("../img/offer/offer-bg.jpg") no-repeat; background-position: center right; background-size: contain; position: relative; }

.offer::before { content: ''; width: 50%; height: 100%; background: #fff; position: absolute; top: 0; left: 0; }

.offer-block { position: relative; width: 50%; padding-right: 90px; }

.offer__title { max-width: 360px; text-align: left; line-height: 35px; margin-bottom: 24px; }

.offer__subtitle { max-width: 250px; margin-bottom: 30px; }

.offer__input { margin-bottom: 30px; width: 240px; }

.offer__input:first-child { margin-right: 10px; }

.offer__button { width: 100%; min-height: 70px; font-size: 15px; margin-bottom: 30px; }

.offer-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.offer-info__hint { width: 230px; font-size: 15px; line-height: 25px; }

.offer-info__recall { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.offer-info__recall-description { font-size: 15px; line-height: 25px; }

.offer-info__recall-phone { text-decoration: none; color: #000; font-size: 15px; line-height: 25px; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; }

@media (max-width: 1200px) { .offer { background-size: cover; }
  .offer-info { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  .offer-info__hint { margin-bottom: 5px; }
  .offer__input { width: 100%; margin-bottom: 10px; }
  .offer__button { font-size: 14px; } }

@media (max-width: 768px) { .offer { background: #fff; }
  .offer-info { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .offer-info__hint { margin-bottom: 0px; }
  .offer-block { width: 100%; padding-right: 0; }
  .offer__button { font-size: 15px; } }

@media (max-width: 567px) { .offer__title { width: 273px; line-height: 26px; font-size: 18px; }
  .offer__subtitle { margin-top: 18px; font-size: 14px; }
  .offer-info { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  .offer-info__hint { margin-bottom: 5px; }
  .offer__button { font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; } }

.portfolio { background: #f5f5f5 url("../img/portfolio/portfolio-bg.jpg") repeat-y center left; background-size: 50%; }

.portfolio__title { margin: auto; margin-bottom: 100px; }

.portfolio__arrows { max-width: 120px; margin: auto; margin-top: 68px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; cursor: pointer; }

.slider__img { margin: auto; }

.price__title { margin: auto; margin-bottom: 58px; }

.price__subtitle { margin-bottom: 59px; text-align: center; }

.price__card { margin-bottom: 30px; }

.card { text-align: center; border: 1px solid #e8e8e8; -webkit-transition: 0.2s; transition: 0.2s; max-width: 370px; }

.card:hover { -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1); box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1); }

.card__link { display: inline-block; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; text-decoration: none; color: #333333; font-size: 16px; position: relative; }

.card__link:hover:after { height: 14px; z-index: -1; }

.card__link:after { content: ''; position: absolute; bottom: 0; left: 0; margin-bottom: -4px; display: block; width: 100%; height: 3px; -webkit-transition: 0.2s; transition: 0.2s; background-color: #ffd200; }

.card__text { padding: 40px; }

.card__title { margin-top: 0; }

.card__img { position: relative; cursor: pointer; }

.card__img:hover::before { opacity: 1; }

.card__img::before { content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0))); background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%); opacity: 0; -webkit-transition: 0.2s; transition: 0.2s; }

.cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (max-width: 768px) { .card { max-width: 370px; margin: auto; margin-bottom: 30px; }
  .card__title { font-size: 16px; }
  .card__link { font-size: 16px; }
  .cards { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media (max-width: 567px) { .price__title { font-size: 18px; }
  .price__subtitle { font-size: 14px; }
  .card__title { font-size: 15px; }
  .card__link { font-size: 16px; }
  .card__img:hover::before { display: none; } }

.step { -ms-flex-preferred-size: 20%; flex-basis: 20%; text-align: center; position: relative; }

.step::after { content: ''; position: absolute; top: -10px; right: -15%; width: 72px; height: 25px; background: url("../img/steps/arrow.png") no-repeat; }

.step:last-child::after { display: none; }

.step__img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100px; height: 100px; border: 3px solid #ffd200; border-radius: 50%; margin: auto; margin-bottom: 30px; }

.step__text { max-width: 155px; margin: auto; font-size: 14px; line-height: 20px; }

.steps__title { margin: auto; margin-bottom: 59px; }

.steps__subtitle { text-align: center; margin-bottom: 58px; }

.steps-block { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (max-width: 1200px) { .step { -ms-flex-preferred-size: 50%; flex-basis: 50%; margin-bottom: 30px; }
  .step::after { display: none; }
  .steps-block { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media (max-width: 768px) { .step__text { font-size: 12px; line-height: 16px; }
  .steps__title { font-size: 18px; margin-bottom: 27px; }
  .steps__subtitle { font-size: 14px; line-height: 45px; margin-bottom: 34px; }
  .steps-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.modal { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(0, 0, 0, 0.5); display: none; }

.modal_active { display: -webkit-box; display: -ms-flexbox; display: flex; }

.modal-dialog { position: relative; margin: auto; max-width: 570px; width: 90%; min-height: 200px; padding: 0px 95px; z-index: 2; background-color: #fff; }

.modal-dialog__title { text-align: center; font-size: 22px; line-height: 33px; margin-top: 73px; margin-bottom: 40px; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; }

.modal-dialog__subtitle { display: block; text-align: center; font-size: 16px; line-height: 35px; margin-bottom: 34px; }

.modal-dialog__input { width: 100%; margin-bottom: 15px; padding: 23px 18px; }

.modal-dialog__input:last-child { margin-bottom: 0; }

.modal-dialog__button { width: 100%; margin-top: 20px; margin-bottom: 33px; padding: 25px; font-size: 16px; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; }

.modal-dialog__hint { display: block; font-size: 15px; line-height: 20px; margin-bottom: 13px; text-align: center; }

.modal-dialog__phone { text-decoration: none; color: #000; text-align: center; font-size: 24px; font-family: 'Museo Sans Bold', sans-serif; font-weight: 700; display: block; margin-bottom: 76px; }

.modal-dialog__close { position: absolute; top: 10px; right: 15px; cursor: pointer; }

@media (max-width: 768px) { .modal-dialog { width: 100%; padding: 0px 30px; }
  .modal-dialog__phone { margin-bottom: 35px; }
  .modal-dialog__title { margin: auto; margin-top: 35px; max-width: 400px; } }

@media (max-width: 567px) { .modal-dialog { max-width: 100%; padding: 20px 25px; }
  .modal-dialog__phone { font-size: 20px; }
  .modal-dialog__title { font-size: 20px; line-height: 25px; margin: auto; margin-bottom: 20px; margin-top: 35px; }
  .modal-dialog__subtitle { font-size: 14px; line-height: 25px; } }
/*# sourceMappingURL=style.css.map */